/* Value-proposition section */
.value-proposition {
    padding: 60px 0;
    height: auto;
    background-color: #fff;
  }
  
  .value-proposition .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    margin-bottom: -10px;
  }
  
  .section-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
  }
  
  .section-words {
    margin-left: -180px;
    width: 55%;
    transform: translateX(100px) scale(0.8);
    transition: opacity 0.9s ease-in-out;
  }
  
  .section-words p {
    margin-top: 25px;
    line-height: 1.8;
    font-size: 18px;
    position: relative;
    padding-left: 40px;
    font-family: "Exo", sans-serif;
    color: #555;
  }
  .section-words p::before {
    content: "";
    position: absolute;
    top: 12%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url("../../assets/right-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-tit {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .section-ul {
    list-style: none;
    padding-left: 0;
  }
  
  .section-ul li {
    font-family: "Exo", sans-serif;
    color: #555;
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 2.2;
    position: relative;
    padding-left: 28px;
  }
  
  .section-ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url("../../assets/right-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .section-pic img,
  .section-img img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .section-pic {
    margin-top: -40px;
    margin-right: -20px;
    width: 45%;
    text-align: center;
  }
  
  .section-img {
    margin-top: 30px;
    width: 40%;
    text-align: center;
    margin-left: -10px;
  }
  
  /* Mision and Vision */
  .mission-vision {
    height: 120vh;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .ms-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    margin-bottom: -50px;
  }
  
  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-text {
    width: 45%;
    opacity: 0;
    transform: translateX(100px) scale(0.8);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .section-image {
    width: 45%;
    margin-left: 20px;
    opacity: 0;
    transform: translateX(100px) scale(0.8);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  
  .section-image img {
    width: 85%;
    max-height: 300px;
  }
  
  .fade-in-left {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  
  .fade-in-right {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  
  .fade-in-left[style*="--fade-delay"] {
    transition-delay: var(--fade-delay);
  }
  
  .fade-in-right[style*="--fade-delay"] {
    transition-delay: var(--fade-delay);
  }
  
  /* Services and Products Section */
  #services-products {
    padding: 3em 0;
    text-align: center;
    color: #333;
    background-color: #f5f5f5;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  #services-products .title {
    font-size: 28px;
    font-family: "Exo", sans-serif;
    margin-bottom: 40px;
    font-weight: 700;
    color: green;
    margin-top: 5px;
  }
  
  #services-products .container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  
  #services-products .service-card,
  #services-products .product-card {
    flex-basis: calc(50% - 1rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    height: 400px;
    margin-bottom: 2em;
  }
  
  .service-card,
  .product-card {
    width: 100%;
    border-radius: 20px;
    max-width: 200px;
    background-color: #fff;
    padding: 2rem;
    margin: 0.25rem; 
    text-align: center;
  }
  
  #services-products .service-card .icon,
  #services-products .product-card .image {
    font-size: 4em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #services-products .service-card h3,
  #services-products .product-card h3{
    font-size: 20px;
  }
  
  #services-products .service-card .service-description,
  #services-products .product-card .product-description {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 36px;
    overflow: hidden;
    font-family: "Exo", sans-serif;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #services-products .button {
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    margin-top: 25px;
    padding: 0.6em 0.9em;
    border: none;
    background-color: #03a30b;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #services-products .button .icon-send {
    font-size: 1.2em;
    margin-left: 0.4rem;
  }
  
  
  #services-products .button:hover {
    background-color: #555;
  }
  
  .zoom-in-fast {
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  
  .zoom-in-medium {
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
  }
  
  .zoom-in-slow {
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  .zoom-in-slower {
    transform: scale(0);
    animation-name: zoom-in;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes zoom-in {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* Scroll to top  sections */
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #03a30b;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .scroll-to-top:hover {
    background-color: #333;
  }
  
  .scroll-to-top svg {
    width: 20px;
    height: 20px;
  }
  
  /* Our impacts, Counter-on scroll */
  .counter {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .counter-left {
    flex: 1;
    margin-top: -450px;
    margin-left: 10px;
  }
  
  .counter-left h2 {
    margin-top: 25rem;
    margin-bottom: 18px;
    font-size: 24px;
  
  }
  
  .counter-left p {
    margin-top: -8px;
    margin-bottom: 18px;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    color: #333;
  }
  
  .counter-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;
    margin-top: 80px;
    margin-right: 15px;
  }
  
  .second-h {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 15px;
  }
  
  .second-p {
    margin-top: -8px;
    font-size: 16px;
    line-height: 1.6;
  }
  .counter-item {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    background-color: #f2f2f2;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .counter-number {
    display: block;
    font-size: 35px;
    font-weight: 700;
    color: #046f09;
    margin-top: 48px;
  }
  
  .counter-text {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
  }
  
  /* Our team section */
  .team-section {
    height: 90vh;
    align-items: center;
    text-align: center;
    padding: 15px 0;
  }
  .team-up h2 {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: green;
  }
  .team-up p {
    font-size: 17px;
    line-height: 1.6;
    font-family: "Exo", sans-serif;
    color: #555;
  }
  .team-down {
    display: flex;
    flex: 1;
    margin-top: 80px;
    margin-left: 70px;
    flex-direction: column;
  }
  
  .team-container {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: #f5f5f5;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background 0.5s, transform 0.5s;
  }
  
  .team-member:hover {
    transform: translateY(-10px);
  }
  
  .member-image {
    margin-top: 15px;
    width: 70px;
    height: 70px;
    background-color: #f5f5f5;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .member-name {
    margin-top: 30px;
    font-size: 16px;
  }
  
  .member-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .member-badge {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: -8px;
  }
  
  /* Partners section */
  .partners-section {
    height: 70vh;
    align-items: center;
    padding: 12px 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .partners-left {
    flex: 1;
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .partners-left h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
  }
  .partners-left p {
    padding-right: 12px;
    font-family: "Exo", sans-serif;
    color: #555;
    font-size: 17px;
    line-height: 1.6;
    margin-top: -10px;
  }
  .partners-left .second-o {
    font-size: 22px;
    margin-top: 60px;
  }
  
  .partners-left .second-op {
    font-size: 17px;
  }
  
  .partners-right {
    display: flex;
    justify-content: flex-end;
    margin-right: -1000px;
    margin-top: -250px;
  }
  
  .partner-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  
  .partner-images img {
    width: 100px;
    height: auto;
    margin-right: 45px;
  }
  
  /* Blog section */
  .blog-section {
    height: 120vh;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .blog-section h2 {
    font-size: 30px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: green;
  }
  
  .blog-posts {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    text-align: center;
  }
  
  .blog-post {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .blog-post img {
    width: 150px;
    height: 90px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .blog-post h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .blog-post p {
    font-size: 17px;
    margin-bottom: 15px;
    font-family: "Exo", sans-serif;
    color: #555;
    line-height: 1.6;
  }
  
  .blog-post .read-more {
    display: inline-block;
    background-color: #03a30b;
    color: #fff;
    font-family: "Exo", sans-serif;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .blog-post .read-more:hover {
    background-color: #555;
  }
  
  /* Get in touch */
  .get-in-touch-section {
    display: flex;
    height: 85vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .get-in-touch-left {
    flex: 1;
    margin-top: -60px;
  }
  
  .get-in-touch-left p {
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 17px;
    color: #555;
    font-family: "Exo", sans-serif;
  }
  .get-in-touch-right {
    flex: 1;
    margin-top: -10px;
    margin-left: 90px;
  }
  .get-in-touch-right h3 {
    margin-bottom: 25px;
    font-size: 22px;
    margin-left: 200px;
  }
  
  .get-in-touch-left h2 {
    margin-bottom: 10px;
    margin-top: -100px;
    font-size: 28px;
  }
  .get-in-touch-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .get-in-touch-left ul li {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    color: #555;
  }
  
  .get-in-touch-left ul li strong {
    font-size: 17px;
    font-weight: 700;
    color: #333;
    margin-right: 8px;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 18px;
  }
  .form-field {
    flex: 1;
    margin-right: 10px;
  }
  label {
    font-size: 16px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: green;
  }
  
  input,
  textarea,
  select {
    width: 85%;
    padding: 10px;
    font-family: "Exo", sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  textarea {
    align-items: center;
    justify-content: center;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #ccc;
  }
  
  .get-in-touch-right button[type="submit"] {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    background-color: #03a30b;
    color: #fff;
    font-size: 16px;
    border: none;
    font-family: "Exo", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 250px;
  }
  
  .get-in-touch-right button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Footer section */
  
  .footer {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-column p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #777;
    margin-left: 130px;
  }
  
  .social-links li {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 130px;
  }
  
  .fb {
    font-weight: 600;
    text-decoration: none;
    color: blue;
  }
  
  .tw {
    font-weight: 600;
    text-decoration: none;
    color: rgb(60, 60, 248);
  }
  .in {
    font-weight: 600;
    text-decoration: none;
    color: rgb(204, 5, 118);
  }
  
  .social-icon-fb {
    margin-left: 5px;
    color: rgb(10, 10, 250);
  }
  
  .social-icon-tw {
    margin-left: 8px;
    color: rgb(60, 60, 248);
  }
  
  .social-icon-in {
    margin-left: 5px;
    color: rgb(204, 5, 118);
  }
  .footer-bottom {
    margin-top: -40px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  
  