@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #222;
}

.banner {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: url("./slider-bg-1.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.block {
  margin-top: 30px;
  z-index: 1;
  margin-left: -400px;
}
.block span {
  font-family: "Exo", sans-serif;
  color: #333;
}

.block .text-uppercase {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #333;
}

.block h1 {
  font-size: 44px;
  font-weight: 700;
  margin: 20px 0;
  color: #333;
}

.block p {
  font-size: 16px;
  margin-bottom: 14px;
  color: #555;
}

.block .btn-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.icofont-simple-right {
  vertical-align: -2px;
  margin-left: 0.4rem;
}

.block .btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #03a30b;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

/* Services and Products Section */
#services-products {
  padding: 3em 0;
  text-align: center;
  color: #333;
  background-color: #f5f5f5;
}

#services-products .title {
  font-size: 32px;
  font-family: "Exo", sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  color: #333;
  margin-top: -20px;
}

#services-products .container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
}

#services-products .service-card,
#services-products .product-card {
  flex-basis: calc(50% - 1rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin-bottom: 2em;
}
.service-card,
.product-card {
  width: 100%;
  border-radius: 15px;
  max-width: 200px;
  background-color: #fff;
  padding: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

#services-products .service-card .icon,
#services-products .product-card .image {
  font-size: 4em;
  margin-bottom: 0.5em;
}

#services-products .service-card .service-description,
#services-products .product-card .product-description {
  font-size: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#services-products .button {
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  padding: 0.75em 1.5em;
  border: none;
  background-color: #03a30b;
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.icon-send {
  font-size: 1em;
  vertical-align: -2px;
  margin-left: 0.4rem;
}

#services-products .button:hover {
  background-color: #555;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #03a30b;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #333;
}

.scroll-to-top svg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 940px) {
  .banner {
    height: 90vh;
    background-position: center;
  }

  .block {
    margin-bottom: -50px;
    margin-left: 30px;
  }

  .block .text-uppercase {
    font-size: 15px;
  }

  .block h1 {
    font-size: 26px;
    margin: 18px 0;
  }
  .block p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 10px;
  }

  .block .btn-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  .icofont-simple-right {
    margin-left: 0.4rem;
  }

  .block .btn {
    border-radius: 8px;
    display: inline-block;
    padding: 12px 15px;
    font-size: 13px;
    transition: background-color 0.3s ease;
  }

  /* Services and Products Section */
  #services-products .container {
    margin-top: 2rem;
  }

  #services-products .title {
    font-size: 18px;
    font-family: "Exo", sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
  }

  #services-products .service-card,
  #services-products .product-card {
    flex-basis: 100%;
    max-width: 270px;
    margin: 0 auto;
  }

  .service-card,
  .product-card {
    width: 30%;
    margin: 0 auto;
  }

  #services-products .service-card .icon,
  #services-products .product-card .image {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  #services-products .service-card .service-description,
  #services-products .product-card .product-description {
    font-size: 0.7em;
    margin-bottom: 1em;
    -webkit-line-clamp: 3;
  }

  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    width: 40px;
    height: 40px;
  }
}
