@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #222;
}

.banner {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: url("../../assets/rainbow.jpg") no-repeat;
  background-size: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.4);
  z-index: -1;
}

.banner::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: -1;
}


.block {
  margin-top: 75px;
  z-index: 1;
  margin-left: -600px;
}

.block span {
  font-family: "Exo", sans-serif;
  color: #333;
}

.block .text-uppercase {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #333;
}

.block h1 {
  font-size: 44px;
  font-weight: 700;
  margin: 20px 0;
  color: #333;
}

.block p {
  font-size: 16px;
  margin-bottom: 14px;
  color: #555;
  font-family: "Exo", sans-serif;
}
.btn-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-family: "Exo", sans-serif;
}

.btn {
  display: inline-block;
  padding: 15px 24px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #03a30b;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #048f0a;
}
.btn-icon {
  display: flex;
  align-items: center;
}

.btn-round-full {
  border-radius: 50px;
}

.icofont-simple-right {
  margin-left: 0.4rem;
  vertical-align: middle;
}

/* Services and Products Section */
#services-products {
  padding: 3em 0;
  text-align: center;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

#services-products .title {
  font-size: 32px;
  font-family: "Exo", sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  color: #333;
  margin-top: -20px;
}

#services-products .container {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2.5rem;
}

#services-products .service-card,
#services-products .product-card {
  flex-basis: calc(50% - 1rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin-bottom: 2em;
}

.service-card,
.product-card {
  width: 100%;
  border-radius: 15px;
  max-width: 200px;
  background-color: #fff;
  padding: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

#services-products .service-card .icon,
#services-products .product-card .image {
  font-size: 4em;
  margin-bottom: 0.5em;
}

#services-products .service-card .service-description,
#services-products .product-card .product-description {
  font-size: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Exo", sans-serif;
  text-overflow: ellipsis;
}

#services-products .button {
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  padding: 0.75em 1.5em;
  border: none;
  background-color: #03a30b;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.icon-send {
  font-size: 1.2em;
  vertical-align: -2px;
  margin-left: 0.4rem;
}

#services-products .button:hover {
  background-color: #555;
}

/* Scroll to top  sections */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #03a30b;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #333;
}

.scroll-to-top svg {
  width: 20px;
  height: 20px;
}

/* Value-proposition section */
.value-proposition {
  padding: 60px 0;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

.value-proposition .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}

.value-proposition-left {
  width: 50%;
  padding-right: 40px;
  margin-left: -20px;
}

.value-proposition-left p {
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 1.6;
  display: flex;
  font-size: 17px;
  color: #555;
  font-family: "Exo", sans-serif;
  align-items: center;
  list-style-type: none;
}

.value-proposition-left p:before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../assets/right-arrow.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  margin-right: 10px;
  transform: translateY(-30%);
}

.value-proposition-right {
  width: 40%;
  margin-top: 60px;
  float: right;
  margin-left: 600px;
}

.value-proposition-left h2 {
  font-size: 28px;
  margin-top: -5px;
  font-weight: 700;
  margin-bottom: 10px;
}
.value-proposition-right {
  margin-top: -10px;
}
.value-proposition-right ul {
  margin-bottom: 10px;
  font-family: "Exo", sans-serif;
  padding-left: 20px;
}
.value-proposition-right h2 {
  font-size: 24px;
  margin-top: -5px;
  font-weight: 700;
  margin-bottom: 10px;
}
.value-proposition-right ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 25px;
  text-decoration: none;
  color: #555;
}

.value-proposition-right ul li:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Partners section */
.partners-section {
  height: 70vh;
  align-items: center;
  padding: 12px 0;
}

.partners-left {
  flex: 1;
  margin-top: 60px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.partners-left h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}
.partners-left p {
  padding-right: 12px;
  font-family: "Exo", sans-serif;
  color: #555;
  font-size: 17px;
  line-height: 1.6;
  margin-top: -10px;
}
.partners-left .second-o {
  font-size: 22px;
  margin-top: 60px;
}

.partners-left .second-op {
  font-size: 17px;
}

.partners-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 900px;
  margin-top: -350px;
}

.partner-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.partner-images img {
  width: 120px;
  height: auto;
  margin: 12px;
}

/* Our team section */
.team-section {
  height: 80vh;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
.team-up h2 {
  font-size: 32px;
  margin-top: 40px;
  font-weight: 700;
}
.team-up p {
  font-size: 17px;
  line-height: 1.6;
  font-family: "Exo", sans-serif;
  color: #555;
}
.team-down {
  display: flex;
  flex: 1;
  margin-top: 80px;
  margin-left: 70px;
  flex-direction: column;
}

.team-container {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #f5f5f5;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.member-image {
  margin-top: 15px;
  width: 70px;
  height: 70px;
  background-color: #f5f5f5;
  object-fit: cover;
  border-radius: 50%;
}

.member-name {
  margin-top: 30px;
  font-size: 16px;
}

.member-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.member-badge {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: -8px;
}

/* Blog section */
.blog-section {
  height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.blog-section h2 {
  font-size: 30px;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.blog-posts {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
  text-align: center;
}

.blog-post {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.blog-post img {
  width: 150px;
  height: 90px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blog-post h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.blog-post p {
  font-size: 17px;
  margin-bottom: 15px;
  font-family: "Exo", sans-serif;
  color: #555;
  line-height: 1.6;
}

.blog-post .read-more {
  display: inline-block;
  background-color: #03a30b;
  color: #fff;
  font-family: "Exo", sans-serif;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.blog-post .read-more:hover {
  background-color: #555;
}

/* Get in touch */
.get-in-touch-section {
  display: flex;
  height: 85vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

.get-in-touch-left {
  flex: 1;
  margin-top: -60px;
}

.get-in-touch-left p {
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 17px;
  color: #555;
  font-family: "Exo", sans-serif;
}
.get-in-touch-right {
  flex: 1;
  margin-top: -10px;
  margin-left: 90px;
}
.get-in-touch-right h3 {
  margin-bottom: 25px;
  font-size: 22px;
  margin-left: 200px;
}

.get-in-touch-left h2 {
  margin-bottom: 10px;
  margin-top: -100px;
  font-size: 28px;
}
.get-in-touch-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.get-in-touch-left ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
  color: #555;
}

.get-in-touch-left ul li strong {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  margin-right: 8px;
}

.form-group {
  display: flex;
  margin-bottom: 18px;
}
.form-field {
  flex: 1;
  margin-right: 10px;
}
label {
  font-size: 16px;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: green;
}

input,
textarea,
select {
  width: 85%;
  padding: 10px;
  font-family: "Exo", sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

textarea {
  align-items: center;
  justify-content: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #ccc;
}

.get-in-touch-right button[type="submit"] {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  padding: 10px 20px;
  background-color: #03a30b;
  color: #fff;
  font-size: 16px;
  border: none;
  font-family: "Exo", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 250px;
}

.get-in-touch-right button[type="submit"]:hover {
  background-color: #555;
}

.counter {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

.counter-left {
  flex: 1;
  margin-top: -450px;
}

.counter-left p {
  margin-top: -8px;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Exo", sans-serif;
  color: #333;
}

.counter-left h2 {
  margin-top: 25rem;
}

.counter-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;
  margin-top: 80px;
  margin-right: 60px;
}

.second-h {
  font-size: 20px;
  margin-top: 90px;
}
.second-p {
  margin-top: -8px;
  font-size: 16px;
  line-height: 1.6;
}
.counter-item {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.counter-number {
  display: block;
  font-size: 35px;
  font-weight: 700;
  color: #046f09;
  margin-top: 48px;
}

.counter-text {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

/* Media query for medium Phones */
@media screen and (max-width: 940px) {
  .banner {
    height: 90vh;
    background-position: center;
  }

  .block {
    margin-bottom: -50px;
    margin-left: 30px;
  }

  .block .text-uppercase {
    font-size: 15px;
  }

  .block h1 {
    font-size: 26px;
    margin: 18px 0;
  }
  .block p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 10px;
  }

  .block .btn-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  .icofont-simple-right {
    margin-left: 0.4rem;
  }

  .block .btn {
    border-radius: 8px;
    display: inline-block;
    padding: 12px 15px;
    font-size: 13px;
    transition: background-color 0.3s ease;
  }

  /* Services and Products Section */
  #services-products .container {
    margin-top: 2rem;
  }

  #services-products .title {
    font-size: 18px;
    font-family: "Exo", sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
    color: #555;
  }

  #services-products .service-card,
  #services-products .product-card {
    flex-basis: 100%;
    max-width: 270px;
    margin: 0 auto;
  }

  .service-card,
  .product-card {
    width: 30%;
    margin: 0 auto;
  }

  #services-products .service-card .icon,
  #services-products .product-card .image {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  #services-products .service-card .service-description,
  #services-products .product-card .product-description {
    font-size: 0.7em;
    margin-bottom: 1em;
    -webkit-line-clamp: 3;
  }

  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    width: 40px;
    height: 40px;
  }

  /* Value Propositions */
  .value-proposition-container {
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .value-proposition-left,
  .value-proposition-right {
    max-width: 400px;
    width: 90%;
    margin-left: 0;
  }

  .value-proposition-left p {
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .value-proposition-left p:before {
    content: "";
    width: 40px;
    height: 40px;
    transform: translateY(-40%);
  }
  .value-proposition h2 {
    font-size: 20px;
    margin-top: -5px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .value-proposition p {
    font-size: 12px;
    margin-bottom: 15px;
    color: #555;
    line-height: 1.5;
  }
  .value-proposition-right {
    margin-top: 50px;
  }

  .value-proposition-right h2 {
    font-size: 18px;
    margin-top: -5px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .value-proposition-right p {
    font-size: 12px;
    margin-bottom: 15px;
    color: #555;
    line-height: 1.5;
  }

  .value-proposition-right ul {
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .value-proposition-right ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    list-style-type: none;
    font-size: 12px;
    line-height: 1.6;
    margin-top: 24px;
    text-decoration: none;
    color: #333;
  }
}
