@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-top-bar {
  background-color: #04c40e;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-family: "Exo", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.header-top-bar .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top-bar .top-bar-info {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header-top-bar .top-bar-info ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-top-bar .top-bar-info li {
  margin-right: 2rem;
  margin-top: 5px;
}

.header-top-bar .top-bar-info a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-top-bar .top-bar-info a span {
  vertical-align: middle;
  font-size: 10px;
  margin-left: 0.5rem;
}

.header-top-bar .top-bar-info .icofont-support-faq,
.header-top-bar .top-bar-info .icofont-location-pin,
.header-top-bar .top-bar-info .icofont-support-faqs {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: white;
  vertical-align: middle;
}

.navbar {
  font-family: "Exo", sans-serif;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 9999;
  border: none;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu li {
  margin-right: 4rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  position: relative;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nav-menu a .arrow-icon {
  margin-left: 10px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.nav-menu a.active-link .arrow-icon {
  transform: rotate(180deg);
}

.nav-menu a .arrow-icon {
  margin-left: 5px;
  font-size: 17px;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}

.navbar .nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-right: 4rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  position: relative;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.nav-menu a .arrow-icon {
  margin-left: 10px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease;
}

.nav-menu a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.active-link {
  outline: none;
  position: relative;
}

.logo-img {
  height: 45px;
  width: auto;
  margin-left: 35px;
  object-fit: contain;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.navbar .icon {
  color: #555;
  font-size: 1.5rem;
}
.dropdown-menu {
  position: absolute;
  display: block;
  top: 130%;
  left: 0;
  right: 0px;
  opacity: 0;
  min-width: 250px;
  padding: 0px;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  border: 0px;
  border-radius: 5px;
  border-top: 5px solid #03a30b;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 115%;
}

.dropdown-menu li {
  margin-top: 10px;
  padding: 5px 20px;
  border-bottom: 1px solid #eee;
  background: transparent;
  font-weight: 400;
  color: #555;
  width: 100%;
}
.dropdown-menu li a {
  display: block;
  padding: 5px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: 0.5s ease;
}

.dropdown-menu a:hover {
  color: #03a30b;
}

@keyframes dropdown-out {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.language-selector .dropdown {
  position: relative;
  display: inline-block;
}

.language-selector .language-select {
  padding: 6px 20px;
  font-size: 12px;
  border: 1px solid #ccc;
  color: #555;
  cursor: pointer;
  border-radius: 2px;
}

.language-selector .language-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  /* color: #ffffff; */
}

.language-selector .language-select option {
  background-color: #f5f5f5;
}

.language-selector .language-select option:hover {
  background-color: #fff;
}

.language-selector .language-select:focus {
  outline: none;
}

.language-selector .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  background-color: #2f2f2f;
  border: 1px solid #ffffff;
  border-radius: 4px;
  z-index: 1;
}

.language-selector .dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.language-selector .dropdown-item:hover {
  background-color: #444444;
}

/* Media Queries */
@media screen and (max-width: 940px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar {
    top: 0;
    height: 75px;
    background: #f5f5f5;
  }

  .navbar .nav-menu {
    background: #04b70d;
    padding: 0.7em 3%;
    border-radius: 2px;
    height: 100vh;
    margin-top: 0.95rem;
    overflow: hidden;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: -100%;
    height: 100%;
    width: 50%;
    background: rgba(255, 255, 255, 0.98);
    transition: 0.4s ease-in-out;
    z-index: 10;
    padding: 1rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    margin: 0 0.55rem;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
  }

  .nav-menu a {
    margin: 22px;
    font-size: 22px;
    position: relative;
    color: #fff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .nav-menu a:hover {
    text-decoration: none;
  }

  .nav-menu li:hover .header-top-bar {
    display: block;
  }

  .header-top-bar {
    display: none;
  }

  .logo-img {
    align-items: center;
    margin-left: 40px;
    height: 85px;
    width: 85px;
  }

  .hamburger {
    display: block;
    align-items: center;
    margin-right: 1rem;
    transition: transform 0.3s ease-in;
  }
  .hamburger .icon {
    font-size: 1.5rem;
    margin-right: 15px;
  }

  .hamburger.active {
    transform: rotate(90deg);
  }

  .dropdown {
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
  }
  .dropdown .language-select {
    font-size: 0.9rem;
  }
  .arrow-icon {
    margin-bottom: 5px;
  }

  .nav-menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    list-style: none;
    z-index: 1;
  }
  .nav-menu li.dropdown-container:hover .dropdown-menu,
  .nav-menu li.dropdown-container.active .dropdown-menu {
    display: block;
    width: 100%;
  }
  .nav-menu .dropdown-container .arrow-icon {
    transition: transform 0.3s ease-in;
  }

  .nav-menu .dropdown-container.active .arrow-icon {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .navbar .nav-menu {
    background: #03a30b;
    padding: 0.7em 3%;
    border-radius: 2px;
    height: 90vh;
    margin-top: 2px;
    overflow: hidden;
    width: 100%;
  }

  .nav-menu a {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
  }

  .header-top-bar {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar {
    top: 0;
  }

  .logo-img {
    align-items: center;
    margin-left: 25px;
  }
  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60px;
    right: -100%;
    height: 100%;
    width: 90%;
    background: rgba(255, 255, 255, 0.98);
    transition: 0.4s ease-in-out;
    z-index: 10;
    padding: 1rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    margin: 0.55rem;
  }

  .nav-menu a {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .nav-menu a:hover {
    text-decoration: none;
  }

  .hamburger {
    display: block;
    align-items: center;
    margin-right: 1rem;
    transition: transform 0.3s ease;
  }

  .hamburger.active {
    transform: rotate(-90deg);
  }
}

/* @media screen and (max-width: 576px) {
  .navbar {
    position: static !important;
    width: auto;
    z-index: initial;
  }
  .navbar .nav-menu {
    background: #03a30b;
    padding: 0.7em 2%;
    border-radius: 2px;
    height: 100vh;
    margin-top: 1.5px;
    overflow: hidden;
    width: 100%;
  }

  .nav-menu li a {
    display: flex;
    justify-content: flex-start;
  }

  .header-top-bar {

  }

  .container {

  }

  .navbar {

  }

  .logo-img {

  }

  .nav-menu {

  }

  .nav-menu.active {

  }

  .nav-menu li {

  }

  .nav-menu a {

  }

  .nav-menu a:hover {

  }

  .hamburger {

  }

  .hamburger.active {

  }
} */
